.container
{
    width: 910px;
}
body
{
    background: #000;
    color: #f69f09;
}
header
{
    padding-top: 20px;
}

h1
{
    color: #f69f09;
}

h2
{
    color: #f69f09;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
}
h3
{
    color: #f69f09;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
}
header img {
  padding: 1em;
}

.lines
{
    border: double;
}

p
{
    text-align: center;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 150px;
  color: #fff;
  background: #f69f09;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Navigation */


nav {
  padding: 0 0.7em;
  white-space: nowrap;
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
  color: #f69f09;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
    color: #f69f09;
}

nav ul li a:hover {
  text-decoration: blink;
}

a {
  color: #f69f09;
  text-decoration: none;
}

a:hover {
  color: #f69f09;
  text-decoration: underline;
}
