<header>

	<h3>About Owentasks</h3>
	<p>
	    OwenTasks is a Project currently being developed by a team of curious minds. the idea and concept<br />
	    comes from these young men, namely: John Crisostom - Great and Benevolent Leader, Joanel Divinagracia - The Man With some Plan<br />
	    Arveen Landa - Man with the arts and creative juices overflowing.<br /><br />

	    Currently OwenTasks is still in Beta Phase and isn't Open to the public. Except for some people.<br />
	    for testing purposes. As Stated It is still under testing and can be Buggy. The Developers will be trying<br />
	    to build and improve the current contents while going on with their daily lives as students.

	    
	</p>

	<h3>The Developers</h3>	
 	
	<p>
	<%= image_tag("jed.jpg", :alt => "John Crisostomo", :size => "300x400") %><br />
	Name: John Crisostomo<br />
	Contact No: 4924957<br />
	Email: 4r5c4r105u5@gmail.com<br />
	Twitter: @arscariosus<br />
	    John Crisostomo is The Man in Power, The CEO and Project Leader of OwenTasks.<br />
	    His Contributions are of importance aside from conceptualization. He is known <br />
	    for supporting F.O.S.S. and is a seasoned Ruby on Rails Programmer.
	</p>

	<p>
	<%= image_tag("joanel.jpg", :alt => "Joanel Divinagracia", :size => "300x400") %><br />
	Name: Joanel Divinagracia<br />
	Contact No: 7436543<br />
	Email: joaneldivinagracia@gmail.com<br />
	Twitter: @iamanepichero<br />
	   Joanel Divinagracia is adviser to John Crisostomo and co-colaborator.<br />
	   This colaboration is a first for this team up, and while he is a rookie<br />
	   when it comes to Ruby on Rails, he believes that this is part of the learning process.
	</p>
	
	
	<p>
	<%= image_tag("arveen.jpg", :alt => "Arveen Landa", :size => "300x400") %><br />
	Name: Arveen Landa<br />
	Contact No: 7653311<br />
	Email: aml@yahoo.com<br />
	Twitter: @arveen11<br />
	    Arveen Landa is the man responsible for some aesthetic's and improvement when it comes to<br />
	    Design. He is also in responsible for the project documentation and other paper works.
	</p>


	<p>
	  Again We Welcome you to OwenTasks, Thank You for Being Patient with us - arscariosus, iamanepicHERO, Conan.
	</p>
