i<h1>Welcome to OwenTasks!</h1>

<p>
Do you usually forget what you need to  do?<br>
Forget Certain Tasks of Importance??<br>
OwenTasks is Here to Assist you with your woes!
</p>

<%= link_to "Sign up now!", 'sign_up', :class => "signup_button round" %>
